MARIADB_DATABASE=ticketing_db
MARIADB_URL=jdbc:mariadb://db:3306/ticketing_db
MARIADB_USER=admin
MARIADB_ROOT_PASSWORD=root
SERVER_URL=http://localhost:8000
SERVER_PORT=8000
WEB_EXPOSURE=health,prometheus
